body {
  background-size: 1000px;
  background-color: white;
  width: auto;
  max-width: min-content;
  padding: 0 5vw;
  padding-top: 2.5vw;
  margin: 0 auto;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding: 10px 0;
  margin-left: 10vw;
}

main {
  display: flex;
}

img.icon {
  margin-top: 5vh;
  margin-right: 10vw;
}

img.icon.big {
  transform: scale(1.2);
}

img.icon:hover,
img.icon.big:hover {
  cursor: pointer;
  transform: scale(1.4);
}

img.icon.disabled {
  opacity: 0.25;
  cursor: auto;
}

img.icon.disabled:hover {
  cursor: auto;
  transform: scale(1);
}

table {
  color: Black;
  background-color: #a8a8a8;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  border-spacing: 0 1px;
  width: 100%;
}

tbody {
  border: solid;
  border-color: #a8a8a8;
  border-right-color: #d61637;
  background-color: #f8f8f8;
}

th {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #a8a8a8;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #c03;
  text-align: left;
}

tr:hover {
  background-color: #ffffff;
}

tr:focus {
  outline: 1px solid #d61637;
}

td {
  color: inherit;
}

td.title > textarea {
  font-weight: bold;
}

textarea, input {
  font-family: sans-serif;
  font-size: inherit;
  color: inherit;
}

textarea {
  height: 50px;
  resize: none;
}

input {
  padding-bottom: 36px;
  height: auto;
  text-overflow: ellipsis;
}

textarea:disabled,
input:disabled {
  background-color: transparent;
  border: 1px solid transparent;
}

input.institute {
  width: 200px;
}

input.date,
input.time,
textarea.entry {
  width: 70px;
}

textarea:disabled,
input:disabled {
  pointer-events: none;
}

.logo {
  max-width: 80%;
  padding-left: 20%;
}

.scrollable {
  overflow: auto;
}

.highlight {
  border: 3px solid #d61637;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

@keyframes fade-out {
  from { }
  to {
    background-color: #fff;
    background: #fff;
    color: #fff;
  }
}

.fade-out {
  animation: fade-out 0.75s cubic-bezier(.35,1.12,1,.94) forwards;
}

#logo-container {
  margin-left: auto;
}

#actions {
  width: 10vw;
}

#searchfield {
  border-style: none;
  font-family: helvetica, sans-serif;
  font-size: large;
  text-align: left;
  border: 3px solid black;
  padding: 10px 20px;
  margin: auto 0;
  width: 60%;
  height: 30px;
}

#searchfield:hover {
  transform: scale(1.01);
  border: 3px solid #d61637;
}

#table-container {
  min-width: 62vw;
  height: 75vh;
  box-shadow: -3px 6px 16px -8px rgba(0, 0, 0, 0.75);
}

#footer {
  position: sticky;
  color: #515151;
  background-color: #f8f8f8;
  font-size: medium;
  font-family: monospace;
  margin-top: 30px;
  margin-left: 10vw;
  text-align: center;
  max-width: 100%;
  border: 1px dashed #515151;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #a8a8a8;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #d61637;
}

@media only screen and (max-width: 850px) {
  body {
    max-width: none;
  }

  header {
    border-bottom: 3px solid #a8a8a8;
    margin-left: 0;
  }

  main {
    flex-direction: column;
  }

  table {
    margin-top: 0;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    height: 10px;
  }

  tr {
    border: 1px solid #ccc;
    border-right: 1px solid #d61637;
    padding: 20px 5px;

    /* height: 100vh; */
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;

    /* border-bottom: 1px solid #eee; */
    position: relative;
    padding-left: 40%;
    white-space: normal;
    text-align: left;
    height: 50px;
  }

  td.description {
    height: 90px;
  }

  td.description > textarea {
    height: 80px;
  }

  td::before {
    /* Now like a table header */
    position: absolute;

    /* Top/left values mimic padding */

    /* top: 6px; */
    left: 6px;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;

    /*
	Label the data
	*/
    content: attr(data-title);
  }

  textarea,
  input {
    padding-top: 0;
    padding-bottom: 0;

    margin-top: 0;
    margin-bottom: 10px;
    min-height: 25px;
    width: 90% !important;
  }

  input {
    transform: translateY(-5px);
  }

  #actions {
    display: flex;

    justify-content: space-evenly;
    width: 100%;

    border-bottom: 3px solid #a8a8a8;
  }

  #actions > img.icon {
    margin: 2vh 0;
  }

  #footer {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0 10px;
  }

  #searchfield {
    width: 100%;
  }

  #table-container {
    height: 100%;
  }
}
