body {
  /* background: url(../img/fire.jpg) black; */
  background-size: 1000px;
  background-color: white;
  width: auto;
  max-width: 90%;
  margin: 0 auto;
}

#FH_Logo {
  position: relative;
  float: right;
}

.Logo {
  float: right;
  max-width: 40%;
  height: auto;
}

h1 {
  color: black;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#specification {
  color: grey;
  background-color: #384046;
  font-size: medium;
  font-family: monospace;
  position: relative;
  margin-top: 30px;
  text-align: center;
  max-width: 100%;
}

#tableBody{
  border: solid;
  border-color: #a8a8a8;
  background-color: #f8f8f8;
}


#tableHeader {
  font-family: helvetica, sans-serif;
  color: #cc0033;
  position: relative;
  width: 90%;
}

#tableEvents {
  margin-top: 10px;
  color: Black;
  background-color: #a8a8a8;
  font-family: helvetica, sans-serif;

}

#searchfield {
  font-family: helvetica, sans-serif;
  text-align: left;
  border-style: groove;
  border-color: #a8a8a8;

  padding: 10px 15px;
  margin: auto 0;
  width: 20%;
}

#actions {
  display: flex;
  flex-wrap: wrap;
}
#addInputButton {
  background-color: #cc0033;
  border: solid 3px #cc0033;

  color: white;
  margin: 5px auto;
  width: 70px;

  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: helvetica, sans-serif;
  font-size: x-small;
}

button {
  background-color: #cc0033;
  border: solid 3px #cc0033;

  color: white;
  margin: 20px auto;
  width: 200px;

  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: helvetica, sans-serif;
  font-size: 16px;
}

button:hover {
  color: #cc0033;
  background-color: white;
}

p {
  color: black;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

.highlight {
  background-color: #9600189e;
}

@media only screen and (max-width: 1000px) {
  #printButton {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 40px;
    margin-top: 40px;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    height: 10px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    padding: 20px 5px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    /* border-bottom: 1px solid #eee; */
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    /* top: 6px; */
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
  }

  /*
	Label the data
	*/
  td:before {
    content: attr(data-title);
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    margin-top: 30px;
  }

  #searchfield {
    width: 100%;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(255, 255, 255, 1);
  margin: 40% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
