body {
  background-size: 1000px;
  background-color: white;
  width: auto;
  max-width: min-content;
  padding: 0 5vw;
  padding-top: 2.5vw;
  margin: 0 auto;
}

h1 {
  color: black;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: none;
}

#footer {
  position: sticky;
  color: #515151;
  background-color: #f8f8f8;
  font-size: medium;
  font-family: monospace;
  margin-top: 30px;
  text-align: center;
  max-width: 100%;
  border: 1px dashed #515151;
}

#logo-container {
  margin-left: auto;
}

.logo {
  max-width: 80%;
  padding-left: 20%;
}

#table-container {
  min-width: 62vw;
  height: 75vh;
  box-shadow: -3px 6px 16px -8px rgba(0, 0, 0, 0.75);
}

.scrollable {
  overflow: auto;
}

th {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #a8a8a8;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #c03;
  text-align: left;
}

tr:hover {
  background: transparent;
  /* height: 20vh; */
}

tbody {
  border: solid;
  border-color: #a8a8a8;
  border-right-color: #d61637;
  background-color: #f8f8f8;
}

table {
  /* margin-top: 10px; */
  color: Black;
  background-color: #a8a8a8;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  border-spacing: 0 1px;
  width: 100%;
}

td.title > textarea {
  font-weight: bold;
}

#searchfield {
  border-style: none;
  font-family: helvetica, sans-serif;
  font-size: large;
  text-align: left;
  border: 3px solid black;
  padding: 10px 20px;
  margin: auto 0;
  width: 60%;
  height: 30px;
}

#searchfield:hover {
  transform: scale(1.01);
  border: 3px solid #d61637;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding: 10px 0;
}

button {
  background-color: #c03;
  border: solid 3px #c03;
  color: white;
  margin: 20px auto;
  width: 200px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: #c03;
  background-color: white;
}

img.icon {
  margin: auto 10px;
}

img.icon:hover,
img.icon.big:hover {
  cursor: pointer;
  transform: scale(1.4);
}

img.icon.disabled:hover {
  cursor: auto;
  transform: scale(1);
}

img.icon.big {
  transform: scale(1.2);
}

p {
  color: black;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

.highlight {
  border: 3px solid #d61637;
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 850px) {
  body {
    max-width: none;
  }

  h1 {
    margin-top: 40px;
  }

  header {
    border-bottom: 3px solid #a8a8a8;
  }

  table {
    margin-top: 0;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    height: 10px;
  }

  tr {
    border: 1px solid #ccc;
    border-right: 1px solid #d61637;
    padding: 20px 5px;

    /* height: 100vh; */
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;

    /* border-bottom: 1px solid #eee; */
    position: relative;
    padding-left: 40%;
    white-space: normal;
    text-align: left;
  }

  td::before {
    /* Now like a table header */
    position: absolute;

    /* Top/left values mimic padding */

    /* top: 6px; */
    left: 6px;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;

    /*
	Label the data
	*/
    content: attr(data-title);
  }

  textarea {
    width: 90% !important;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0 10px;
  }

  h1 {
    font-size: 30px;
    margin-top: 30px;
  }

  #searchfield {
    width: 100%;
  }
}

/*
@media print {
  th:last-of-type {
    display: none;
  }

  td:last-of-type {
    display: none;
  }
} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(255, 255, 255, 1);
  margin: 40% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#closeEventForm {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeEventForm:hover,
#closeEventForm:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

td.actions {
  vertical-align: baseline;
}

textarea {
  font-family: sans-serif;
  height: 50px;
  resize: none;
}

input {
  font-family: sans-serif;
  padding-bottom: 36px;
  height: auto;
  font-size: inherit;
}

textarea:disabled, input:disabled {
  background-color: transparent;
  border: 1px solid transparent;
}

input.date,
input.time,
textarea.entry {
  width: 70px;
}

@media only screen and (max-width: 850px) {
  textarea {
    transform: translateY(-3px);
    height: 25px;
    width: 90%;
  }

  td.description > textarea {
    height: 50px;
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #a8a8a8;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #d61637;
}

#editEventForm {
  height: 100%;
  border: 2px solid #a8a8a8;
}

/* ########## */

header {
  margin-left: 10vw;
}

header > img.icon {
  display: none;
}

#saveEventButton {
  display: none;
}

#footer {
  margin-left: 10vw;
}

main {
  display: flex;
}

#spacebar {
  width: 10vw;
}

#spacebar > img.icon {
  margin-top: 5vh;
  margin-right: 10vw;
}

img.icon.disabled {
  opacity: .25;
  cursor: auto;
}

tr:hover {
  background-color: #ffffff;
}

tr:focus {
  /* background-color: #ffffff !important; */
  outline: 1px solid #d61637;
}

textarea:disabled, input:disabled {
  pointer-events: none;
}

@media only screen and (max-width: 850px) {
  main {
    flex-direction: column;
  }

  header {
    margin-left: 0;
  }

  #spacebar {
    display: flex;

    justify-content: space-evenly;
    width: 100%;

    border-bottom: 3px solid #a8a8a8;
  }

  #spacebar > img.icon {
    margin: 2vh 0;
  }
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}